name: Deploy Grocery List to Azure

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker image
      run: docker build -t sofiabc004/grocery-app:latest .

    - name: Push Docker image
      run: docker push sofiabc004/grocery-app:latest

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy container to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: sofia-grocerylist
        images: sofiabc004/grocery-app:latest
